<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-code"></i> ECE 568 Final Project - Mini Amazon
            </div>
            <div class="col-md-4">
                <i class="fas fa-user"></i> Haohong Zhao, Yifan Li
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope"></i> hz147@duke.edu, yl506@duke.edu
            </div>
        </div>
    </div>
</section>